@model IEnumerable<MVC05Homework01.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    @Html.DropDownList("職稱篩選", (IEnumerable<SelectListItem>)ViewBag.職稱, "請選擇職稱", htmlAttributes: new { @class = "form-control" })
    <input type="submit" value="Search" class="form-control" />
}
@Html.ActionLink("匯出資料", "Download", new { sortOrder = ViewBag.sortOrder, currentSort = ViewBag.CurrentSort })
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { sortOrder = "職稱", currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { sortOrder = "姓名", currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { sortOrder = "Email", currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { sortOrder = "手機", currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { sortOrder = "電話", currentSort = ViewBag.CurrentSort })
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { sortOrder = "客戶名稱", currentSort = ViewBag.CurrentSort })
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
