@model MVC05Homework01.ViewModels.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(x => x.帳號, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(model => model.帳號, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.PasswordFor(x => x.密碼, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.密碼, "", new { @class = "text-danger" })
        </div>
        <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
